<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Registro Vehiculo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content">
  <div class="fm-reg-auto">
    <ion-item lines="full">
      <ion-label position="floating">Marca</ion-label>
      <ion-input type="text" [(ngModel)]="data.marca" maxlength="12" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Modelo</ion-label>
      <ion-input type="text" [(ngModel)]="data.modelo" maxlength="12" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Año del Modelo</ion-label>
      <ion-input type="text" [(ngModel)]="data.aModelo" maxlength="4" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Patente</ion-label>
      <ion-input type="text" [(ngModel)]="data.patente" maxlength="6" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Cantidad Pasajeros</ion-label>
      <ion-input type="text" [(ngModel)]="data.cantPasaj" maxlength="1" required></ion-input>
    </ion-item>

    <ion-grid id="btn-rauto">
    <ion-row>
      <ion-col col-6>
        <ion-button expand="block" shape="rounded" color="primary" (click)="regAuto()">
          Registrar Auto
        </ion-button>
      </ion-col>
      
      <ion-col col-6>
        <ion-button expand="block" shape="rounded" color="danger" (click)="limpiar()">
          Limpiar
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  </div>
   
  
</ion-content>
