.form {
    margin-top: 50%;
}

.backgrnd {
    background-color: #022e55;
}

#logo {
    margin-top: 15px;
    width: 50%;
    border-radius: 50%;
}

#div-logo {
    margin-top: 20px;
    background-color: #022e55;
}