<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Cambio de contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="form">
    <ion-item lines="full">
        <ion-label position="floating">Usuario</ion-label>
        <ion-input type="text" [(ngModel)]="Usuario" required></ion-input>
      </ion-item>

      <ion-row>
        <ion-col>
          <ion-button (click)="nClave()" color="danger" expand="block">Enviar</ion-button>
        </ion-col>
      </ion-row>

      <small>
        Por favor ingrese el nombre de usuario utilizado al momento de su registro.
      </small>
  </div>
    
  
</ion-content>