#form-log {
    margin-top: 20%;
}

.divider {
    display: flex;
    &:before,
    &:after {
        content: "";
        flex: 1;
    }
}

.line {
    align-items: center;
    margin: 1em -1em;
    color: #cccccc;
    &:before,
    &:after {
        height: 1px;
        margin: 0 1em;
    }
}

.one-line {
    &:before,
    &:after {
        background: #cccccc;
    }
}

#btn-log {
    margin-top: 15px;
}

#div-logo {
    margin-top: 20px;
    background-color: #022e55;
}

#logo {
    width: 50%;
    border-radius: 50%;
}