<ion-header>
  <ion-toolbar color="primary">
    
    <ion-title slot="start">Inicio Sesión</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="clickedNew()">
        <ion-icon class="ion-padding-top" slot="icon-only" name="person-add"></ion-icon>
        <ion-icon ></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="backgrnd">
    <div id="div-logo">
      <center>
        <img src="../../assets/img/logo.jpg" id="logo">
      </center>
    </div>
    
    <div id="form-log">
      
      <ion-item lines="full">
        <ion-label id="label" position="floating">Usuario</ion-label>
        <ion-input type="text" [(ngModel)]="Usuario"  maxlength="12" class="inp" required></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-label id="label" position="floating">Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="Password" maxlength="8" class="inp" required></ion-input>
      </ion-item>

      <ion-row id="btn-log">
        <ion-col>
          <ion-button (click)="ingresar()" color="primary" expand="block">Ingresar</ion-button>
          <span class="divider line one-line">°</span>
          <ion-button expand="block" color="secondary" [routerLink]="['/n-clave']" class="small-text">Olvidaste tu clave?</ion-button>
        </ion-col>
      </ion-row>
  
    </div>
  </div>
  
  
</ion-content>
