.form {
    margin-top: 25%;
}

.backgrnd {
    background-color: #022e55;
}

#btn-reg {
    width: 50%;
    margin-left: 25%;
    margin-top: 15px;
}

#logo {
    margin-top: 15px;
    width: 50%;
    border-radius: 50%;
}

#div-logo {
    margin-top: 20px;
    background-color: #022e55;
}