<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button (click)="clickedOut()">
        <ion-icon class="ion-padding-top" slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-padding-top">Te LLevo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="backgrnd">
    <div class="title">
      <ion-title>
        <ion-label>
          <h1>Bienvenido</h1>
          
          <p *ngIf="usuario">Usuario: {{usuario}}</p>
          
        </ion-label>
      </ion-title>
    </div>
    
    
    
    
    <div class="btn-home">
      <ion-button expand="block" shape="round" color="primary" id="btn-h" >Buscar Viaje</ion-button>
      <ion-button expand="block" shape="round" color="secondary" id="btn-h" [routerLink]="['/reg-auto']">Registrar Auto</ion-button>
    </div>
  </div>

</ion-content>
